include old/includes/pre.pug
title Write blog post
link(rel="stylesheet" type="text/css" href="/blog.css")
script(src="https://pugjs.org/js/pug.js")
include old/includes/header.pug

h1 Write post

form(method="post" action="/blog/draft" onkeydown=`return event.key !== "Enter" || event.target.tagName === "TEXTAREA" || event.target.type === "submit";`)
	div
		input(type="text" placeholder="Title" name="title" value=title)#title

	div
		input(type="text" placeholder="Year" name="year" value=year)#year
		input(type="text" placeholder="Month" name="month" value=month)#month
		input(type="text" placeholder="Day" name="day" value=day)#day
		input(type="text" placeholder="slug" name="slug" value=slug)#slug

	div
		textarea(name="content").write#write= content

	div
		input(type="text" placeholder="Token?" name="token")#token

	div
		input(type="submit" value="Save draft")
		input(type="submit" value="Publish" formaction="/blog/submit")

article.renderarea#renderarea

.back

script.
	const pug = require("pug")
	if (!q("#year").value) {
		q("#year").value = new Date().getFullYear()
		q("#month").value = new Date().getMonth()+1
		q("#day").value = new Date().getDate()
	}
	const slug = q("#slug")
	q("#title").addEventListener("input", event => {
		slug.value = event.target.value.toLowerCase().replace(/[\W_-]+/g, "-").replace(/(^-+|-+$)/g, "")
	})
	const renderarea = q("#renderarea")
	const write = q("#write")
	write.addEventListener("keydown", event => {
		if (event.key === "Tab") {
			event.preventDefault()
			insertAtCursor(event.target, "    ")
		}
	})
	const render = () => {
		write.style.height = 0
		write.style.height = (write.scrollHeight+2)+"px"
		renderarea.innerHTML = pug.render(write.value)
	}
	write.addEventListener("input", render)
	setTimeout(render)
	render()
	q("#token").value = localStorage.getItem("token")


include old/includes/end.pug
